{% load static %}
    <nav class="navbar">
      <a class="logo" href="{% url 'home' %}">
      <div class="logo">E-Hostel<span>& PG</span></div>
    </a>
        <ul class="nav-links">
          {% if user.is_authenticated %}
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="#">Book Now</a></li>
            <li><a href="#">Rooms</a></li>
            <li><a href="#">Facilities</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Visit</a></li>
            {% else %}
            <li><a href="{%url 'user_login'%}">Login</a></li>
            <li><a href="{%url 'signup'%}">Signup</a></li>

            {% endif %}
        </ul>
    </nav>

